.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color:#fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius:10px;
} 
.cat1{
    background-color:orange;
}
.cat2{
    background-color:crimson;
}
.cat3{
    background-color:#57a2bb;
}
.categories h1{
    color:#fff;
}
.categories img{
    width: 120px;
}
.card{
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color:#fff;
    border-top: none;
}
#subscribe{
    height: 200px;
}
#subscribe h6{
    color: grey;
}
footer p{
    text-align: center;
}